# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Jupyter cache
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# virtual / conda environments
.env
.venv/
venv/
env/

# Logs
outputs/logs/*
!outputs/logs/README.md

# Keep output folder READMEs
!outputs/figures/README.md
!outputs/tables/README.md
!outputs/logs/README.md